@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway&display=swap');
.cover {
  width: auto;
  height:auto;
  text-align:center;
  font-family: 'Raleway', serif;
}

body{
  background: url("./resources/nyc.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: slategray;
  background-blend-mode: multiply;


  color: white;
  text-align: center;



}

#title {
  font-family: 'Raleway', serif;  width: auto;
  text-align: center;
  font-size: 150px;
  font-weight: 100px;
  padding: 10px;
  letter-spacing: 0.1em;
  /* background-color: black;
  background-color:rgba(0, 0, 0, 0.5); */

}

#subtitle {
  font-family: 'Raleway';
  font-size: 50px;
}
